@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delicious Handrawn', cursive;
    scroll-behavior: smooth;
}

/* Classes */

.rozhovor {

}

.sekce {
    margin: 15vh 25vw 0 25vw;
    padding: 2vh 0 2vh 0;
}

.nadpis {
    font-weight: bold;
    font-size: 25px;
}

.odpoved {
    font-size: 22px;
    padding: 10px 0 10px 0;
    margin-left: 8px;
    margin-right: 8px;
}

/* IDs */

#otazky {
    margin: 0 25vw 0 25vw;
    padding: 2vh 0 2vh 0;
}

#uvod {
    padding-bottom: 30px;
    font-size: 21px;
}

#fotka {
    text-align: center;
}


/* zbytek */

h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 35px;
}


a {
    padding: 0 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: color ease-in-out 0.5s;
}

a:hover {
    color: #333333;
}


body {
    background-color: #DFD5A5;
}

h1 {
    font-size: 2rem;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px 20px 50px;
    background-color: #A69CAC;
    box-shadow: -2px 8px 22px -3px rgba(0,0,0,0.42);
}

ul {
    display: flex;
    list-style: none;
    margin-left: 25px;
    margin-top: 5px;
}

li {
    margin-left: 30px;
}

