
body {
    font-size: 14px;
}


header h1 {
    font-size: 20px;
}


section h3 {
    font-size: 18px;
}


section p {
    font-size: 16px;
}


section {
    margin-bottom: 20px;
}


.main {
    padding: 10px;
}
