/* Styly pro celou stránku */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Styly pro hlavičku stránky */
header {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

/* Styly pro kontejner s rozhovorem */


.container h2 {
    font-size: 1.5rem;
    margin: 0 0 1.5rem;
}

.container p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.container p:last-child {
    text-align: center;
    margin-top: 2rem;
}

/* Styly pro odkazy */
a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h1{
    text-align: center;
}

img{
    max-width: 300px;

}

/* Responzivní styly */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        margin: 2rem auto;
        padding: 1rem;
    }

    .container h2 {
        font-size: 1.25rem;
    }

    .container p {
        font-size: 0.9rem;
    }
}
